<h2>商品詳細</h2>
<%= image_tag @item.get_image(300,200) %>

<table>
  <tr>
    <th>商品名</th>
    <td><%= @item.name %></td>
  </tr>
  <tr>
    <th>商品説明</th>
    <td><%= @item.introduction %></td>
  </tr>
  <tr>
    <th>ジャンル</th>
    <td><%= @item.genre.name %></td>
  </tr>
  <tr>
    <th>税込価格</th>
    <td>
      <%= @item.add_tax_price %>
      (<%= @item.price %>) 円
    </td>
  </tr>
  <tr>
    <th>販売ステータス</th>
    <td>
      <% if @item.is_active == true %>
        販売中
      <% else %>
        販売停止中
      <% end %>
    </td>
  </tr>
</table>

<div>
  <%= link_to "編集する", edit_admin_item_path(@item.id) %>
</div>