<h2>注文情報入力</h2>
<%= form_with model: @order, url: confirm_orders_path, method: :post do |f| %>
  <h3>支払方法</h3>
  <%= f.radio_button :payment_method, Order.payment_methods.key(0) %>
  <%= f.label :payment_method_credit_card, Order.payment_methods_i18n[:credit_card] %>
  <%= f.radio_button :payment_method, Order.payment_methods.key(1) %>
  <%= f.label :payment_method_transfer, Order.payment_methods_i18n[:transfer] %>

  <h3>お届け先</h3>
  <p><%= f.radio_button :select_address, 0 %>お届け先</p>
  <%= current_customer.address_display %>

  <p><%= f.radio_button :select_address, 1 %>登録済住所から選択</p>
  <%= f.select :address_id, options_from_collection_for_select(@addresses, :id, :address_display) %>

  <p><%= f.radio_button :select_address, 2 %>新しいお届け先</p>
  <table>
    <tr>
      <th>郵便番号(ハイフンなし)</th>
      <td><%= f.text_field :postal_code %></td>
    </tr>
    <tr>
      <th>住所</th>
      <td><%= f.text_field :address %></td>
    </tr>
    <tr>
      <th>宛名</th>
      <td><%= f.text_field :name %></td>
    </tr>
  </table>

  <%= f.submit "確認画面へ進む" %>
<% end %>